@{
    ViewBag.Title = "User - Admin page";
}
<section class="content-wrapper main-content clear-fix">
    @Html.ActionLink("User management", "Users")
    @Html.ActionLink("Clear all", "ClearAll")
    @Html.ActionLink("Clear all, keep users", "ClearAllKeepUsers")
</section>
