@using Newtonsoft.Json.Linq
@model IEnumerable<Newtonsoft.Json.Linq.JObject>
@{
    ViewBag.Title = "User - Admin page";
}
<section class="content-wrapper main-content clear-fix">
    <table>
        <tr>
            <td style="width: 220px;"><b>Name</b></td>
            <td style="width: 280px;"><b>Email</b></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (JObject item in Model)
        {
            <tr>
                <td>@item["Name"]</td>
                <td>@item["Email"]</td>
                <td>@Html.ActionLink("Delete User", "Delete", new {id = item["Id"].ToObject<Guid>()})</td>
                <td>@Html.ActionLink("Delete User + Activities", "DeletePlusActivities", new {id = item["Id"].ToObject<Guid>()})</td>
            </tr>
        }
    </table>
</section>