@using NooSphere.Core.ActivityModel
@{
    ViewBag.Title = "Extend the Activity Model";

    var u = new User {Name = "My Name", Email = "my@email.com", Id = Guid.NewGuid()};
    var u2 = new User {Name = "Friends Name", Email = "friend@email.com", Id = Guid.NewGuid()};
    u.Friends.Add(u2);

    var act = new Activity {Name = "My activity", Id = Guid.NewGuid(), Owner = u};

    var r = new Resource {Name = "My resource", FileName = "My document.pdf", Id = Guid.NewGuid(), ActivityId = act.Id, Size = 34325, CreationTime = DateTime.UtcNow.ToString("u"), LastWriteTime = DateTime.UtcNow.ToString("u")};

    act.Resources.Add(r);
}
<section class="content-wrapper main-content clear-fix">
    <h3>Extend the Activity Model</h3>
    <hgroup>
        <p>
            The activity model is really simple and can be extended to include the properties that fits your system. The following are the base classes, that are used in Activity Cloud.
        </p>
        <p>Activity example in JSON:</p>
        <p style="background: #fff; margin: auto auto; padding: 5px; width: 80%;">
            <code style="font-weight: bold;">
                @Html.Partial("FormattedJson", act)
            </code>
        </p>
        <p>Resource example in JSON:</p>
        <p style="background: #fff; margin: auto auto; padding: 5px; width: 80%;">
            <code style="font-weight: bold;">
                @Html.Partial("FormattedJson", r)
            </code>
        </p>
        <p>User example in JSON:</p>
        <p style="background: #fff; margin: auto auto; padding: 5px; width: 80%;">
            <code style="font-weight: bold;">
                @Html.Partial("FormattedJson", u)
            </code>
        </p>
    </hgroup>
</section>