@{
    ViewBag.Title = "Features";
}


<section class="feature">
    <img src="/Images/aspNethome.png" />
    <h3>Something</h3>
    <p>Some text for this featre</p>
</section>
<section class="feature">
    <a href="/Home/HowToConnect"><img src="/Images/findHosting.png" /></a>
    <h3>Connect to Activity Cloud</h3>
    <p>Some text for this featre</p>
</section>
<section class="feature">
    <img src="/Images/NuGetGallery.png" />
    <h3>Something</h3>
    <p>Some text for this featre</p>
</section>